<section id="Sign up">
    <%= devise_error_messages!.to_s %>
<div class="row">
  <div class="page-header">
    <h2>Sign up</h2>
  </div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <fieldset>
        <legend>
          Enter your email address:
        </legend>
        <div class="clearfix">
          <%= f.label :email %> 
          <div class="input">
            <div class="input-prepend">
              <span class="add-on">@</span>
              <%= f.text_field :email %>
            </div>
          </div>
        </div>

        <%= f.hidden_field :password, {:value => 'password'}%>
        <%= f.hidden_field :password_confirmation%>

        <div class="actions">
        <%= f.submit "Sign up", :class => 'btn primary' %>
        </div>
      </fieldset>
    <% end %>

    <%= render :partial => "devise/shared/links" %>

</div>
</section>

