<% # ensure the correct javascript is present
  content_for :head do %>
<%= javascript_include_tag 'jquery.min.js' %>
<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jplayer.load.js' %>
<%= stylesheet_link_tag '../jplayer.skin/jplayer.blue.monday.css' %>
<% end  
  @playcounter = 0
  @questionIndex = params[:index].to_i
  @variants=[]
  @variantKey='A'

def display_soundclip(sc)
  synth = sc['synth']
  synth ||= @section.getSystem(@answer.listenergroup, @questionIndex)
  clip = sc['clip']
  clip ||= @section.getClip(@questionIndex)
  location = File.join(synth, clip) 
  variable=nil
  if sc['variant'] == 'true' then 
    @variants << sc
    variable = @variantKey
    sc['alpha'] = @variantKey

    @variantKey=@variantKey.succ
  end
  %><%=
  render :partial => 'base/player', :object => sc, :locals => {:player_counter => @playcounter, :synth => synth, :variable => variable, :location => location}
  %><%
  @playcounter+=1
end

def display_answer(an)
%><%=
render :partial => 'answer', :object => @answer, :locals => {:variants=> @variants, :index => @questionIndex, :answerType => an}
%><%
end

def display(input)
  in_type = input.first.first
  in_content = input.first.second
  case in_type
    when "text"
      %><%=in_content.html_safe%><%
      return nil
    when "soundclip"
      display_soundclip(in_content)
      return nil
    when "answer"
      display_answer(in_content)
      return nil
    else return "cannot display #{input}"
  end
end
%>
<% @taskDescription=JSON.parse(File.read(@section.question_template))['task']%>

<% if @answer.answered?(@questionIndex) %>
  <p>
  You have already attempted this question: <%=link_to 'next question', @section%>
  </p>
<% end %>

<% if params[:index].to_i == 0 %>
  <div class="row">
    <div class="span14 columns brief">
      <h2>Task Brief:</h2>
      <!-- task brief -->
      <% @taskDescription['taskbrief'].each do |t|%>
        <% display t %>
      <% end%>
    </div>
  </div>
<% end %>


<h2>Question <%=@questionIndex+1%>/<%=@section.latinSqSize%>:</h2>
<!-- task output -->
<% @taskDescription['taskcontent'].each do |t|%>
    <div class="row">
      <div class="span14 columns">
        <%display t %>
      </div>
    </div>
<% end %>

