<section id="Sign in">
  <div class="row">
  <div class="page-header">
    <h2>Sign in</h2>
  </div>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <fieldset>
      <legend>
        Enter your email address:
      </legend>
      <div class="clearfix">
        <%= f.label :email %> 
        <div class="input">
          <div class="input-prepend">
            <span class="add-on">@</span>
            <%= f.text_field :email %>
          </div>
        </div>
      </div>

      <%= f.hidden_field :password, :value => "password" %>

      <% if devise_mapping.rememberable? -%>
        <div class="clearfix">
          <%= f.label :remember_me %>
          <div class="input">
            <ul class="inputs-list"><li>
              <%= f.check_box :remember_me %>
              </li></ul>
          </div>
        </div>
      <% end -%>

      <div class="actions">
      <%= f.submit "Sign in", :class => 'btn primary'%>
      </div>
    </fieldset>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
  </div>
  </section>
