<div class="row">
  <div class="span16 columns">
    <table>
<% User.find_all_by_usergroup(ug.second).each do |u| %>
  <tr>
    <% @user = u %>
    <% bl = @user.blocked %>
    <td width="300px">
      <%if bl%><del><%= @user.email%></del><%else%><%=@user.email%><%end%>
    </td>
    <td width="0%"><%= link_to '[Show]', @user%></a></td>
    <td width="0%"><%= link_to '[Delete]', {:controller => :user, :action => :destroy, :id => @user.id }, :method => :delete, :confirm => "Are you sure you wish to delete #{@user.email}?"%></td>
    <td width="0%">
      <!-- Present the possibility of toggling status of user -->
      <% text = bl ? "Unblock" : "Block" %>
      <%= link_to "[#{text}]", user_block_path(@user)%>
    </td>

  </tr>
<%end%>
</table>
</div>
</div>
